<%- include('../partials/wideHeader'); %>
<%- include('../partials/wideNav'); %>


<div class="bg-image" style="background-image: url('/images/twocourts.jpg');  height:100vh; ">
    <div class="container-fluid pt-5">
        <h1 class="display-1 p-5 text-center text-light font-weight-bold">Account Info</h1>
    </div>


<body>
    <main class="container">
        <div class="row align-items-md-stretch">
            <div class="h-100 p-5 text-white text-center bg-transparent border rounded-3">
                <h2>Update Account</h2>
                <h4>I told you we would make this easy.  You can <span style="color:black">fill in this form</span> to <span style="color:black">change you personal info</span> any time.  Just say it, you love me!</h4>
            </div>
        
        <div class="p-5 mt-2 mb-5 bg-transparent border rounded-3">
            <div class="container-fluid">
                <form method='post' action='secret'>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                          <span class="btn btn-secondary">Email</span>
                        </div>
                        <input type="text" name="apptEmail" id="apptLoc" class="form-control" value="<%= AccountDetails.trainer_seeker_email %>" readonly>
                      </div>
                      <input type="hidden" name='uuid' value="<%= AccountDetails.UUID %>">
                      <input type="hidden" name='id'value="<%= AccountDetails._id %>">
                      <div class="input-group mb-2">
                        <div class="input-group-append">
                          <span class="btn btn-secondary">Password</span>
                        </div>
                        <input type="password" name="apptPassword" id="apptLoc" class="form-control" value="<%= AccountDetails.trainer_seeker_password %>">
                      </div>

                      <div class="input-group mb-2">
                        <div class="input-group-append">
                          <span class="btn btn-secondary">Cell Phone Number</span>
                        </div>
                        <input type="text" name="apptCell" id="apptLoc" class="form-control" value="<%= AccountDetails.trainer_seeker_cellphone %>">
                      </div>

                      <div class="input-group mb-2">
                        <div class="input-group-append">
                          <span class="btn btn-secondary">Display Name</span>
                        </div>
                        <input type="text" name="apptName" id="apptLoc" class="form-control" value="<%= AccountDetails.trainer_seeker_name %>">
                      </div>
                      <input type="submit" class="btn btn-primary" value="Update Account"/>
                </form>
                
            </div>
        </div>
    </div>
    </main><br><br><br><br><br><br>
</body>
</div>
            